{%extends 'base.html'%}

{%block slide%}
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="dash.html" class="navbar-brand mx-4 mb-3"><h2 class="m-0">AgriConnect</h2></a>
        <div class="navbar-nav w-100">
            <a href="\" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Dashboard</a>
            <a href="crop_rec.html" class="nav-item nav-link"><i class="fa fa-laptop me-2"></i>Crop Recomendation</a>
            <a href="plant_d.html" class="nav-item nav-link active"><i class="fa fa-laptop me-2"></i>Disease Prediction</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>B</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="button.html" class="dropdown-item">C</a>
                    <a href="typography.html" class="dropdown-item">D</a>
                    <a href="element.html" class="dropdown-item">E</a>
                </div>
            </div>
            <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>F</a>
            <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>G</a>
            <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>H</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="signin.html" class="dropdown-item">I</a>
                    <a href="signup.html" class="dropdown-item">J</a>
                    <a href="404.html" class="dropdown-item">K</a>
                    <a href="blank.html" class="dropdown-item">L</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Sidebar End -->
{%endblock%}


{%block content%}
<!-- plant Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <p class="mb-4">Welcome to our AI-Powered Plant Disease Identification digital guardian for your crops. Designed to elevate your farming experience, this platform harnesses the immense potential of artificial intelligence to safeguard your plants.Harness the power of AI to nurture your plants with care and precision. Explore our AI-Powered Plant Disease Identification web page and experience a new level of confidence and success in farming. Your crops deserve the best, and we're here to provide it.</p>
                <form method="POST" action="{{ url_for('plant_d')}}" enctype="multipart/form-data">                 
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Click the "Choose File" button to select a photo of the plant or leaf that you want to diagnose. Ensure the image is clear and well-lit.</label>
                        <input class="form-control" type="file" id="formFile" accept="image/*" name="file" onchange="previewFile(this);">
                        </br>
                        <div class="col-12">
                            <img class="img-thumbnail" src="" alt="">
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary py-3 px-4" type="submit">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="mb-3">
                    {% if prediction != 0%}
                        <label>Identified as a : {{prediction}} </label>
                    {%endif%}
                </div>
                <div class="mb-3">
                    {% if response != 0%}
                        {{response}}
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- plant End -->

{%endblock%}